Creating DataFrames
Let’s look at different ways to create a Pandas DataFrame — the core data structure you’ll be using 90% of the time in data science.

From Python Lists
import pandas as pd
 
data = [
    ["Alice", 25],
    ["Bob", 30],
    ["Charlie", 35]
]
 
df = pd.DataFrame(data, columns=["Name", "Age"])
print(df)

From Dictionary of Lists
Most common and readable format:

data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35]
}
 
df = pd.DataFrame(data)

Each key becomes a column, and each list is the column data.

From NumPy Arrays
import numpy as np
 
arr = np.array([[1, 2], [3, 4]])
df = pd.DataFrame(arr, columns=["A", "B"])

Make sure to provide column names!

From CSV Files
df = pd.read_csv("data.csv")

Use options like:

sep, header, names, index_col, usecols, nrows, etc.
Example:

pd.read_csv("data.csv", usecols=["Name", "Age"])

From Excel Files
df = pd.read_excel("data.xlsx")

You may need to install openpyxl or xlrd:

pip install openpyxl

From JSON
df = pd.read_json("data.json")

Can also read from a URL or string.

From SQL Databases
import sqlite3
 
conn = sqlite3.connect("mydb.sqlite")
df = pd.read_sql("SELECT * FROM users", conn)

From the Web (Example: CSV from URL)
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
df = pd.read_csv(url)

EDA (Exploratory Data Analysis)
Exploratory Data Analysis (EDA) is an essential first step in any data science project.

It involves taking a deep look at the dataset to understand its structure, spot patterns, identify anomalies, and uncover relationships between variables. This process includes generating summary statistics, checking for missing or duplicate data, and creating visualizations like histograms, box plots, and scatter plots. The goal of EDA is to get a clear picture of what the data is telling you before applying any analysis or machine learning models.

By exploring the data thoroughly, you can make better decisions about how to clean, transform, and model it effectively.

Once your DataFrame is ready, run these to understand your data:

df.head()         # First 5 rows
df.tail()         # Last 5 rows
df.info()         # Column info: types, non-nulls
df.describe()     # Stats for numeric columns
df.columns        # List of column names
df.shape          # (rows, columns)

Summary
You can create DataFrames from lists, dicts, arrays, files, web, and SQL
Use .head(), .info(), .describe() to quickly explore any dataset
Download Jupyter Notebook
Download data.csv

In [8]:
import pandas as pd

# From Python Lists

data = [
    ["Tasmir Khan", 25],
    ["Arhaan Khan", 21],
    ["Abbas Khan", 23]
]

df = pd.DataFrame(data,columns=("Name","Age"))
print(df)
df.index = [1,2,3]
print("\n",df)

          Name  Age
0  Tasmir Khan   25
1  Arhaan Khan   21
2   Abbas Khan   23

           Name  Age
1  Tasmir Khan   25
2  Arhaan Khan   21
3   Abbas Khan   23

In [12]:
# From Dictionary to Lists
import pandas as pd

data = {
      "name":["Tasmir", "Sujal", "Aman", "Doraemon"],
      "Age":[21,21,24,15]
}

df = pd.DataFrame(data)
print(df)

df.index = [1,2,3,4]
df.columns = ["Naam", "Umr"]
print("\n",df)

       name  Age
0    Tasmir   21
1     Sujal   21
2      Aman   24
3  Doraemon   15

        Naam  Umr
1    Tasmir   21
2     Sujal   21
3      Aman   24
4  Doraemon   15

In [24]:
# From numpy arrays
import numpy as np
import pandas as pd
import random
arr = np.array(np.random.randint(1,10,(3,3)))
print("OG Array is :-\n",arr)

df = pd.DataFrame(arr,columns=["A","B","C"])
print("\n",df)
df.index = ['R1', 'R2','R3']
df.columns = ['C1','C2','C3']
print("\n",df)

OG Array is :-
 [[8 6 8]
 [8 6 1]
 [5 7 1]]

    A  B  C
0  8  6  8
1  8  6  1
2  5  7  1

     C1  C2  C3
R1   8   6   8
R2   8   6   1
R3   5   7   1

In [34]:
#from CSV files

import pandas as pd

df = pd.read_csv("currency.csv")
print(df)

df2 = pd.read_csv("agreement.csv")
print("\n",df2)

# df3 = pd.read_csv("country_full.csv")
# print("\n",df3)

    Code Symbol                      Name
0    AED    د.إ    United Arab Emirates d
1    AFN      ؋            Afghan afghani
2    ALL      L              Albanian lek
3    AMD    AMD             Armenian dram
4    ANG      ƒ  Netherlands Antillean gu
..   ...    ...                       ...
158  XOF    CFA    West African CFA franc
159  XPF     Fr                 CFP franc
160  YER      ﷼               Yemeni rial
161  ZAR      R        South African rand
162  ZMW     ZK            Zambian kwacha

[163 rows x 3 columns]

            Agreement
0     Strongly Agree
1              Agree
2            Neutral
3           Disagree
4  Strongly Disagree

In [39]:
import pandas as pd
!pip install openpyxl
import time
#From Excel files
start = time.time()
df = pd.read_excel("1mb.xlsx")
end = time.time()
print("\n Read time", end-start)
s2 = time.time()
print(df)
e2 = time.time()
print("\nPrinting time:-",e2-s2)

Requirement already satisfied: openpyxl in /usr/local/python/3.12.1/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/python/3.12.1/lib/python3.12/site-packages (from openpyxl) (2.0.0)

 Read time 0.5637860298156738
                       Name                        Email            Phone  \
0             Austen Russel     rubye.bernhard@gmail.com     463.769.1464
1             Darion Marvin             orpha24@feil.com  +1-865-703-2210
2           Lenny Jaskolski    flatley.cristal@yahoo.com   1-743-426-5249
3     Dr. Demarco Nolan III   demetrius.harber@gmail.com  +1-281-763-9451
4               Cyrus Braun     hills.schuyler@jerde.com     857-587-8694
...                     ...                          ...              ...
3995        Wilfred Trantow   serenity.metz@weissnat.net     463.381.0970
3996         Mrs. Gail Dare      swift.kathryn@gmail.com  +1-281-443-4721
3997        Shawn Crist III      muller.kaylee@yahoo.com   1-608-368-4133
3998           Alison Crist    matilda.crist@hotmail.com   (458) 239-0396
3999        Geovanny Heaney  heaven.runolfsson@gmail.com   1-848-789-7748

                                                Address  \
0                  25577 Hailey Union\nPatton, LA 76017
1     929 Jenkins Gardens Apt. 568\nLake Jacklynside...
2     10645 Myrtis Glen Apt. 903\nNew Darrel, OK 919...
3                219 Cortez Union\nMayerttown, AK 84988
4         39984 Halvorson Ports\nRaeside, NC 55205-8071
...                                                 ...
3995  885 Mills Ville Apt. 825\nEast Evansport, CT 3...
3996  984 Gusikowski Tunnel\nSouth Chloeberg, ID 995...
3997  31345 Parker Throughway Suite 338\nLake Vincen...
3998  44894 Treutel Avenue Apt. 333\nLacyfurt, NJ 97767
3999          81660 Howe Mills\nEarlfurt, MD 81207-5334

                             Company  \
0                Cartwright and Sons
1                       Schimmel Ltd
2                        Lehner-Rowe
3                  Leffler-Abernathy
4     Rolfson, Johnston and Gislason
...                              ...
3995              Hand, Lang and Von
3996                Friesen and Sons
3997                  Medhurst-Welch
3998                      Ledner PLC
3999                    Braun-Mayert

                                                   Text  \
0     Ducimus et suscipit esse temporibus nulla. Ut ...
1     Ut doloribus earum ratione deleniti. Voluptas ...
2     Hic velit perspiciatis neque animi ipsa suscip...
3     Sit tenetur explicabo quaerat. Odit similique ...
4     Sit et aut consequatur voluptatem accusamus vo...
...                                                 ...
3995  Et cum eaque hic provident quisquam sed dolor ...
3996  Quae dignissimos non facere laudantium invento...
3997  Eveniet sint ea delectus illo sit tempora volu...
3998  Corporis nostrum officia sequi aut odio except...
3999  Saepe laborum voluptatem nihil quisquam. Ut ut...

                                            Description  \
0     Dolor amet sed maiores recusandae. Ut accusant...
1     Et sit saepe est magni sit velit ullam. Quia f...
2     Quaerat mollitia rerum nam repellendus ipsa ne...
3     Id maiores nam non sequi a. Omnis voluptate no...
4     Voluptates ut ut rerum id occaecati facilis. E...
...                                                 ...
3995  Omnis fugit non ut facere illum. Eligendi veli...
3996  Deserunt eos ut sit quaerat suscipit eius pers...
3997  Dolorem eius officia est omnis perferendis aut...
3998  Voluptas suscipit maiores harum consequuntur. ...
3999  Doloremque optio qui et perferendis exercitati...

                                              Job Title
0                             Welfare Eligibility Clerk
1                                      Marine Architect
2                          Bridge Tender OR Lock Tender
3                                 Forensic Investigator
4                   Pharmaceutical Sales Representative
...                                                 ...
3995                                    Plant Scientist
3996                       Government Service Executive
3997                      Recyclable Material Collector
3998                                            Bellhop
3999  Probation Officers and Correctional Treatment ...

[4000 rows x 8 columns]

Printing time:- 0.0029191970825195312

In [45]:
# From Json
import pandas as pd

df = pd.read_json("weather.json",lines=True)
print(df)

     MinTemp  MaxTemp  Rainfall  Evaporation Sunshine WindGustDir  \
0        8.0     24.3       0.0          3.4      6.3          NW
1       14.0     26.9       3.6          4.4      9.7         ENE
2       13.7     23.4       3.6          5.8      3.3          NW
3       13.3     15.5      39.8          7.2      9.1          NW
4        7.6     16.1       2.8          5.6     10.6         SSE
..       ...      ...       ...          ...      ...         ...
361      9.0     30.7       0.0          7.6     12.1         NNW
362      7.1     28.4       0.0         11.6     12.7           N
363     12.5     19.9       0.0          8.4      5.3         ESE
364     12.5     26.9       0.0          5.0      7.1          NW
365     12.3     30.2       0.0          6.0     12.6          NW

    WindGustSpeed WindDir9am WindDir3pm WindSpeed9am  ...  Humidity3pm  \
0              30         SW         NW            6  ...           29
1              39          E          W            4  ...           36
2              85          N        NNE            6  ...           69
3              54        WNW          W           30  ...           56
4              50        SSE        ESE           20  ...           49
..            ...        ...        ...          ...  ...          ...
361            76        SSE         NW            7  ...           15
362            48        NNW        NNW            2  ...           22
363            43        ENE        ENE           11  ...           47
364            46        SSW        WNW            6  ...           39
365            78         NW        WNW           31  ...           13

     Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  \
0         1019.7       1015.0         7         7     14.4     23.6
1         1012.4       1008.4         5         3     17.5     25.7
2         1009.5       1007.2         8         7     15.4     20.2
3         1005.5       1007.0         2         7     13.5     14.1
4         1018.3       1018.5         7         7     11.1     15.4
..           ...          ...       ...       ...      ...      ...
361       1016.1       1010.8         1         3     20.4     30.0
362       1020.0       1016.9         0         1     17.2     28.2
363       1024.0       1022.8         3         2     14.5     18.3
364       1021.0       1016.2         6         7     15.8     25.9
365       1009.6       1009.2         1         1     23.8     28.6

     RainToday  RISK_MM RainTomorrow
0           No      3.6          Yes
1          Yes      3.6          Yes
2          Yes     39.8          Yes
3          Yes      2.8          Yes
4          Yes      0.0           No
..         ...      ...          ...
361         No      0.0           No
362         No      0.0           No
363         No      0.0           No
364         No      0.0           No
365         No      0.0           No

[366 rows x 22 columns]

In [47]:
import sqlite3
conn = sqlite3.connect("mydb.sqlite")
df = pd.read_sql("SELECT*FROM users",conn)

DatabaseError: Execution failed on sql 'SELECT*FROM users': no such table: users

In [49]:
# From the web (Example: CSV from URL)

url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"

df = pd.read_csv(url)
print(df)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]